.container-game {
  display: inline;
}

.main-game {
  color: var(--white);
  display: flex;
  height: 50%;
  justify-content: center;
  position: relative;
}

.aside-game {
  float: left;
  margin-left: 200px;
  margin-top: 10px;
  position: fixed;
}
